<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PathCancer - Upload File</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='logo/PathCancer_logo.png') }}" alt="PathCancer Logo" width="200">
    </div>
    <h1>Upload MAF or VCF File</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="file">Select a MAF or VCF file:</label>
        <input type="file" name="file" id="file"><br><br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>